.welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    opacity: 0;
    transition: 1s opacity linear;
    pointer-events: none;
}

.show {
	opacity: 1;
}

.qr-code {
    width: 600px;
}