.welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    opacity: 0;
    transition: 1s opacity linear;
    pointer-events: none;
}

.welcome-instructions {
    animation: 1.2s linear pulse ;
    animation-iteration-count:infinite;
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px;
    padding: 0 10px;
}

.show {
	opacity: 1;
}

.qr-code {
    width: 600px;
}

@keyframes pulse {
    0% {
        background-color: white;
    }

    50% {
        background-color: pink;
    }

    100% {
        background-color: white;
    }
}